body {
    background: #1b1b1e;
}

.keyboard-container {
    width: 960px;
    height: 300px;
    margin: 0 auto;

}

.accidentals-container {
    width: 960px;
    display: grid;
    grid-template-columns: repeat(42, 1fr);
    height: 66%;
    justify-items: center;
}

.accidentals-container button {
    width: 58px;
    background: #1b1b1e;
    border: 1px solid #fff;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    top: -299px;
    position: relative;
    z-index: 1;
    border-top: none;
}


.accidentals-container button.Q {
    grid-column: 6 / span 2;
}

.accidentals-container button.W {
    grid-column: 12 / span 3;
}

.accidentals-container button.E {
    grid-column: 25 / span 2;
}

.accidentals-container button.R {
    grid-column: 31 / span 2;
}

.accidentals-container button.T {
    grid-column: 37 / span 1;
}


.naturals-container {
    width: 960px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 300px;
}

.naturals-container button {
    background: #fff;
    border: 1px solid #1b1b1e;
    border-radius: 0 0 6px 6px;
}

button {
    cursor: pointer;
    transition: 1s;
}

.naturals-container p {
    font-size: 1.75em;
    top: 100px;
    position: relative;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .9), 0 -1px 1px rgba(0, 0, 0, .1);
    color: #1b1b1e;
}

.playing_K {
    transform: scale(1.20);
}